<div class="row separator">
    <img class="big-image" src="/img/home-img.jpg" alt=""/>
</div>
<div class="row">
    <h2 class="leyend leyend-margin-30">Recent Activity</h2>
</div>
<div class="row recent-container">
    <div class="col-md-6 outer-left-column">
        <div class="recent-column">
            <h3>Latest Events</h3>
            <div class="post-preview">
                <h4 class="red">Lorem ipsum dolor sit.</h4>
                <p class="post-preview-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa ea inventore non perspiciatis? Dolorem ipsam quidem repellendus.</p>
                <a href="#">Read more</a>
            </div>
            <div class="post-preview">
                <h4 class="red">Lorem ipsum dolor sit.</h4>
                <p class="post-preview-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa ea inventore non perspiciatis? Dolorem ipsam quidem repellendus.</p>
                <a href="#">Read more</a>
            </div>
            <div class="post-preview">
                <h4 class="red">Lorem ipsum dolor sit.</h4>
                <p class="post-preview-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa ea inventore non perspiciatis? Dolorem ipsam quidem repellendus.</p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 outer-right-column">
        <div class="recent-column">
            <h3>Trending News</h3>
            <img class="image-responsive" src="/img/googleglass.jpg" alt=""/>
            <div class="news-container">
                <h4 class="news-title">Soy re PRO</h4>
                <p class="news-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad autem dolore ea eligendi eveniet expedita fugit illum ipsum iste iure labore laborum, minima, modi odio officiis qui, quia recusandae tempore unde vel velit veritatis voluptas voluptatem voluptates. At autem explicabo, fuga impedit inventore officiis perspiciatis saepe similique tenetur voluptatum.</p>
                <a href="">Read more</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h2 class="leyend">Recent Posts</h2>
</div>