body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}
body{background: #eaeaea !important}
.logo-center{margin-top: 10%}
.logo-center img{height: 171px;width: auto;}
.text{margin-top: 30px;}
h2 {color: #6db2df !important;}
h4 {color: #89949b !important;}