<img class="span12" ng-src="{{post.cover}}" alt="">
<div class="span12 pagination-centered">
	<h1><a ng-href="#/blog/{{post.id}}">{{post.title}}</a></h1>
</div>
<div class="span12">
	<div class="row-fluid">
		<div class="span2">
			<a ng-href="#/blog/author/{{post.author}}">{{post.author.author}}</a></br>
			<a class="date" ng-href="#/blog/date/{{post.date}}">{{post.date}}</a><br>
			<a class="tag" ng-href="#/blog/tag/{{post.tag}}" ng-repeat="tag in tags">{{post.tag}}</a>
		</div>
		<div class="span10">
			<p>{{post.content}}</p>
		</div>
	</div>
</div>
<div class="span12 nospan end-blogpost">
    <comments-form mensaje="mensaje" ></comments-form>
</div>
<comment ng-repeat="comment in post.comments"></comment>
<div class="btn"><a href="#/blog">Volver</a></div>